

<PageTitle>Job Closed</PageTitle>
@page "/JobClosed"
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using ERPHamza.Data
@using System.Net.Http.Json
@using System.Text;
@using ERPHamza.Data.MyClasses
@using Newtonsoft.Json
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager
@inject IDialogService DialogService
<style>
    .mud-appbar .mud-toolbar-appbar {
        background-color: #FFFFFF;
    }



    .mud-appbar .mud-toolbar-appbar {
        background-color: #FFFFFF;
    }

</style>


<div class="card-header mt-2">
    <h5>Job Closed</h5>
</div>
<AuthorizeView>
    <Authorized>
@if (loading)
{
    <center style="margin-top:5%;">
        <img src="macGif.gif" alt="Loading" width="30" height="30">
    </center>

}
else
{
    <table class="table mt-12 mr-4 ml-4">
        <thead>
            <tr>
                <th class="col-1">#</th>
                <th class="col-3">RefNo</th>
                <th class="col-3">Address</th>
                <th class="col-5" style="text-align: center;">Action</th>
            </tr>
        </thead>

        @if (formList.Count > 0)
        {
            <tbody>
                @foreach (var result in formList)
                {

                    <tr>
                        <th scope="row">@(formList.IndexOf(result) + 1)</th>
                        <td>@result.JobFormRecord.RefNo</td>
                        <td>@result.JobFormRecord.AddressLine1</td>
                        <td>
                             <MudButton OnClick="@((e) => GoToJob(result))" Variant="Variant.Outlined" Color="Color.Success" style="margin-right:50px">Job Details</MudButton>


                            <MudButton Variant="Variant.Outlined" Color="Color.Success" @onclick="@(() => ShowConfirmationPartJob(result))">Part Paid Job</MudButton>
                            <MudButton Variant="Variant.Outlined" Color="Color.Success" @onclick="@(() => ShowConfirmationFullJob(result))">Full Paid job</MudButton>
                        </td>
                    </tr>

                }
            </tbody>
        }





    </table>
    @if (formList.Count == 0)
    {
        <img class="center" style="height:300px;width:300px; display: block; margin-left: auto;   margin-right: auto;" src="nodata.gif">
    }
    <MudOverlay @bind-Visible="PopUpPartJob" DarkBackground="true" AutoClose="false">
        <MudPopover Open="@PopUpPartJob" AnchorOrigin="Origin.CenterCenter" TransformOrigin="Origin.CenterCenter">

            <MudCard>
                <MudCardContent>
                    <MudText Typo="Typo.h6">Confirmation</MudText>
                    <MudText Typo="Typo.body2">
                        Are you sure you want to perform this action? <b>This process cannot be undone.</b>
                    </MudText>
                </MudCardContent>
                <MudCardActions Style="justify-content:end">
                    <MudButton OnClick="closeConfirmationPartJob" Color="Color.Error">Cancel</MudButton>
                    <MudButton OnClick="UpdateJobBooked24" Color="Color.Success">Ok</MudButton>
                </MudCardActions>
            </MudCard>

        </MudPopover>
    </MudOverlay>

    <MudOverlay @bind-Visible="PopUpFullJob" DarkBackground="true" AutoClose="false">
        <MudPopover Open="@PopUpFullJob" AnchorOrigin="Origin.CenterCenter" TransformOrigin="Origin.CenterCenter">

            <MudCard>
                <MudCardContent>
                    <MudText Typo="Typo.h6">Confirmation</MudText>
                    <MudText Typo="Typo.body2">
                        Are you sure you want to perform this action? <b>This process cannot be undone.</b>
                    </MudText>
                </MudCardContent>
                <MudCardActions Style="justify-content:end">
                    <MudButton OnClick="closeConfirmationFullJob" Color="Color.Error">Cancel</MudButton>
                    <MudButton OnClick="updateJobToFull" Color="Color.Success">Ok</MudButton>
                </MudCardActions>
            </MudCard>

        </MudPopover>
    </MudOverlay>

}

    </Authorized>
    <NotAuthorized>
        <MudAlert ShowCloseIcon="true" CloseIconClicked="Navi" Severity="Severity.Error" Variant="Variant.Filled">
            <MudAlertTitle>Access Denied</MudAlertTitle>
            <MudAlertDescription>You are not authorized to access this page. Please Login</MudAlertDescription>
        </MudAlert>
        </NotAuthorized>
</AuthorizeView>
@code{public void GoToJob(FormModel result){constant.FormId = result.JobFormRecord.Id;NavigationManager.NavigateTo("/job", true);}
    public void Navi()
    {
        NavigationManager.NavigateTo("/", forceLoad: true);
    }
    private bool PopUpPartJob = false;

    private void ShowConfirmationPartJob(FormModel result)
    {
        constant.FormId = result.JobFormRecord.Id;
        PopUpPartJob = true;


    }
    private void closeConfirmationPartJob()
    {
        constant.FormId = 0;
        PopUpPartJob = false;
    }

    private bool PopUpFullJob = false;

    private void ShowConfirmationFullJob(FormModel result)
    {
        constant.FormId = result.JobFormRecord.Id;
        PopUpFullJob = true;


    }
    private void closeConfirmationFullJob()
    {
        constant.FormId = 0;
        PopUpFullJob = false;
    }




    bool loading = true;

    public int ID = 0;
    public string refno = "";

    private List<FormModel> formList = new List<FormModel>();
    public class JobFormRecord
    {
        public int Id { get; set; }
        public string RefNo { get; set; }

        public string AddressLine1 { get; set; }

        public string SurveyName { get; set; }

        public int Status { get; set; }
    }
    public class FormModel
    {
        public int Id { get; set; }
        public int FormId { get; set; }
        public int Status { get; set; }
        public JobFormRecord JobFormRecord { get; set; }
    }




    protected override void OnInitialized()
    {

        //base.OnInitialized();

        Form1BySat24();
    }

    private async Task Form1BySat24()//get jobs
    {
        using (var httpClient = new HttpClient())
            try
            {
                var response = await httpClient.GetAsync(constant.Form1BySat23);
                if (response.IsSuccessStatusCode)
                {


                    var jsonString = await response.Content.ReadAsStringAsync();
                    formList = JsonConvert.DeserializeObject<List<FormModel>>(jsonString).ToList();
                    loading = false;
                    StateHasChanged();
                }
                else
                {
                    loading = false;
                    var errorMessage = await response.Content.ReadAsStringAsync();
                    Snackbar.Add(errorMessage, Severity.Error);
                }

            }
            catch (Exception e)
            {

                Snackbar.Add("Try Catch Error: " + e, Severity.Error);
            }

    }
    DateTime londonTime;


    private async Task updateJobToFull()
    {
        DateTime utcTime = DateTime.UtcNow;
        TimeZoneInfo londonTimeZone = TimeZoneInfo.FindSystemTimeZoneById("Europe/London");
        londonTime = TimeZoneInfo.ConvertTimeFromUtc(utcTime, londonTimeZone);
        using (var httpClient = new HttpClient())
            try
            {

                var Data = new
                {
                    Id = constant.FormId
                };
                string jsonData = JsonConvert.SerializeObject(Data);
                var content = new StringContent(jsonData, Encoding.UTF8, "application/json");

                var response = await httpClient.PostAsync(constant.UpdateJobBooked24, content);

                if (response.IsSuccessStatusCode)
                {

                    var message = await response.Content.ReadAsStringAsync();

                    DeleteRecordClass.DeleteRecordInFormJob(constant.FormId, 24);
                    AddRecordClass.AddRecordInFormJob(constant.FormId, 48);
                    AuditClasss.Audit(constant.FormId, constant.LoginUserName, londonTime, "Full Payment Recived");
                    var obj = formList.FirstOrDefault(x => x.FormId == constant.FormId);
                    formList.Remove(obj);
                    closeConfirmationFullJob();
                    StateHasChanged();
                    // NavigationManager.NavigateTo("/JobClosed", forceLoad: true);
                    Snackbar.Add("Success", Severity.Success);
                }
                else
                {
                    closeConfirmationFullJob();
                    var errorMessage = await response.Content.ReadAsStringAsync();
                    Snackbar.Add(errorMessage, Severity.Error);
                }
            }
            catch (Exception ex)
            {
                closeConfirmationFullJob();
                Snackbar.Add(ex.Message, Severity.Error);
            }
        }




    private async Task UpdateJobBooked24()

    {
        DateTime utcTime = DateTime.UtcNow;
        TimeZoneInfo londonTimeZone = TimeZoneInfo.FindSystemTimeZoneById("Europe/London");
        londonTime = TimeZoneInfo.ConvertTimeFromUtc(utcTime, londonTimeZone);
        using (var httpClient = new HttpClient())
            try
            {

                var Data = new
                {
                    Id = constant.FormId


                };


                string jsonData = JsonConvert.SerializeObject(Data);
                var content = new StringContent(jsonData, Encoding.UTF8, "application/json");

                var response = await httpClient.PostAsync(constant.UpdateJobBooked24, content);

                if (response.IsSuccessStatusCode)
                {

                    var message = await response.Content.ReadAsStringAsync();

                    DeleteRecordClass.DeleteRecordInFormJob(constant.FormId, 24);
                    AddRecordClass.AddRecordInFormJob(constant.FormId, 23);
                    AuditClasss.Audit(constant.FormId, constant.LoginUserName, londonTime, "Part paid job");
                    var obj = formList.FirstOrDefault(x => x.FormId == constant.FormId);
                    formList.Remove(obj);
                    closeConfirmationPartJob();
                    StateHasChanged();
                    // NavigationManager.NavigateTo("/JobClosed", forceLoad: true);
                    Snackbar.Add("Success", Severity.Success);
                }
                else
                {
                    closeConfirmationPartJob();
                    var errorMessage = await response.Content.ReadAsStringAsync();
                    Snackbar.Add(errorMessage, Severity.Error);


                }


            }
            catch (Exception ex)
            {
                closeConfirmationPartJob();
                Snackbar.Add(ex.Message, Severity.Error);
            }

    }

    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true, CloseButton = true };

    private void OpenDialog(DialogOptions options, FormModel result)
    {
        constant.FormId = result.FormId;
        constant.refno = result.JobFormRecord.RefNo;
        // LoadForm1Data();
        DialogService.Show<ViewJobDetailsDialog>("Custom Options Dialog", options);
    }







}





